@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: Mulish, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 #f1f1f1; /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #ffff;
  height: 350px;
  width: 100%;
  margin-bottom: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnbtn {
  background-color: #3C64B1;
  color:rgb(255, 255, 255);
  text-decoration: none; 
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  padding : 8px;
  border-radius: 5px;
}
.btnbtn:active {
  background-color: #1b428b;
  color:rgb(255, 255, 255);
  text-decoration: none; 
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  padding : 8px;
  border-radius: 5px;
}

.buttonStyleModif{
  width: 220px !important;
}

#title {
  font-weight: bold;
  margin-top: 0px;
}

.section_index {
  margin-right: 10%;
  margin-left: 10%;
}

#description_index {
  font-size: 0.8em;
  color: #373F41;
}

.spacing{
  margin-top: auto;
  align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}