.header {
  grid-area: header;
  display: flex;
    padding-right: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
    border-bottom: solid;
    border-width: 1px;
    border-color: #E1E3E6;
}