.headprofile{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    height: 50px;
    border-bottom: 1px solid;
    border-color: #E1E3E6;
}

.left-head-profile {
    margin-left: 3%;
    font-weight: bold;
}



.editform {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.label {
    font-size: 16px;
    color: #555;
    display: block;
    padding-bottom: 10px;
}

.input--style-edit {
    width: 70%;
    height: 27px;
    background: #fafafa;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
    border-color: #E1E3E6 ;  
}

.input-style-long {
    border-color: #E1E3E6 ;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(0, 0, 0);  
    padding-bottom: 25px;
    caret-color: #3C64B1;  
}

.astericolor {
    padding-left: 6px;
    vertical-align: top;
    font-size: 6px;
    color:red;
}

.btcreateform {
    cursor: pointer;
    padding: 7px;
    min-width: 80px;
    border: 0px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #3C64B1;
    background: #ffffff;
    color: #000000;
  }

  .btcreateform:hover {
    background: #3C64B1;
    color: #ffffff;
  }

  .contanairfromeditmyprofile {
      width: 100%;
      padding-top: 50px;
  }

  .titleformmyprof {
      text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}