.backgroundprofright {
  height: 100%;
}

.headprofileright{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #10182f;
    height: 50px;
    border-bottom: 1px solid;
    border-color: #E1E3E6;
}

.right-head-profile {
    width: 100%;
    text-align: right;
    justify-content: right;
    font-weight: bold;
}



.owner-image-profile {  
    width: 40px;
    border-radius: 50%;
  }

  .img-owner-profile {
    padding-right: 3%;
      width: 100%;
    text-align: right; 
    margin-right: 1%;
  }


  
  .inner-div {
    margin: 0 auto;

    font-weight: 400;
    color: black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
   
  
  .front {
    background-color:#F3F6FA; 
    cursor: pointer;
    height: 100%;
    backface-visibility: hidden;
   
  }
  
  .front__bkg-photo {
    position: relative;
    height: 150px;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
  }
  
  .front__face-photo {
    position: relative;
    top: -90px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-size: contain;
    backface-visibility: hidden;
    overflow: hidden;
  }

  .front__text {
    position: relative;
    top: -55px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 18px;
    backface-visibility: hidden;
  }

  .front__text-para{
    margin: 10px;
  }