.eventslistcards {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

.listevents {
display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-item-event {
  height: 80px;
  width: 100%;
  padding-top: 5px;
  border: 1px solid;
  border-color: #E1E3E6;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow:  3px 3px 3px #cccccc;
}

  .event-list-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .event-list-date {
    margin-right: 10px;
    text-align: right;
   justify-content: center;
   font-size: 15px;
   color: #757D8A;
   
  }

  .list-item-event:hover {
    box-shadow:  3px 3px 3px #3C64B1; 
  }
 
  .positionicaddeve {
    width: 100%;
    text-align: right;
  }
  .iconaddevent {
    margin-right: 20px;
   font-size: 20px;
   color: #2ECC71;
   cursor: pointer;
  }

 .showdetailsevent {
   display: block;
 }

 .formcreateevent {
  display: block;
 }

 .closeaddeventform {
   display: flex;
 }

 .createeventright {
  display: none;
}

.aside-right {
  grid-area: aside-right;
  display: none;
  width: 500px;
  background-color: white;
}

.formcontainer1 {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  border-radius: 10px;
  background: #2E2E33;
}

.logoLogin{
  width: 160px;
  height: 30px;
}

.FormContainerevent{
  width: 100%;
}

.padding-horizontal--48 {
  padding: 35px;
}

.padding-bottom--15 {
  padding-bottom: 15px;
}

.titleformCreate{
  font-size: 35px;
  color: white;
}

input:focus{
   background-color: #ffffff;
  outline: none;
}


.field .champform {
  margin-top: 40px;
  font-size: 14px;
  padding: 4px;
  width: 80%;
  min-height: 30px;
  border: unset;
  background: #ffffff;
}

.boutonform {
  background-color: #3C64B1;
  border: none;
  color: white;
  padding: 8px 35px;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
  }

  .endform{
      margin-top: 20px;
  }

  .endquestforms{
      color:#000000;
  }

  .end__link{
      color:white;
      text-decoration:none; 
  }

  @media all and (max-width:220px){
      .boutonform {
       
          background-color: #3C64B1;
          padding: 4px;
          text-align: center;
          border-radius: 8px;
          cursor: pointer;
          margin-top: 40px;
          font-size: 14px;
          min-height: 25px;
          }
  }
  .labelformcreate {
    margin-top: 20px;
    
  }
  .labelform {
   color: white;
  }
  .formdropdowncreate {
    font-size: 14px;
    text-align: justify;
    border-radius: 5px;
    padding: 4px;
    width: 80%;
    min-height: 30px;
    border: solid 0.01px;
    background: #ffffff;
    }

@media screen and (max-width: 400px) {
.FormContainer{
  margin-top: 150px;
  margin-bottom:57%;
}

}

@media screen and (max-width: 380px) {
.FormContainer{
  margin-top: 150px;
  margin-bottom:18%;
}

}

@media screen and (max-width: 768px) {
.FormContainer{
  margin-top: 150px;
  margin-bottom:55%;
}

}

@media screen and (max-width: 1025px) {
.FormContainer{
  margin-top: 150px;
  margin-bottom:75%;
}
.boutonform {
  background-color: #3C64B1;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  min-height: 25px;
  }
  .FormContainerevent{
    width: 100%;
    border: solid 1px black;
    margin-top: 10px;
    padding-bottom: 100px;
  }
}
 
.iconeditevent {
  font-size: 30px;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

.icondeleteevent {
  font-size: 30px;
  color: rgb(19, 19, 19);
  cursor: pointer;
}