@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 61px 1fr;
  grid-template-areas:
  "sidenav header header"
  "sidenav main aside-right";
  height: 100vh;
}


aside {
  display: block;
}
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  z-index: 100;
}

.aside-right {
  grid-area: aside-right;
  display: none;
  width: 500px;
}

.eventlistcardsBuilding {
    overflow:auto;
}

.main {
  grid-area: main;
  display: block;
  border-right: 1px solid #E1E3E6;
}